{{#with item}}
<p>{{name}}</p>
<p>{{phone}}</p>
<p>{{email}}</p>
<p>{{province}}</p>
<p>{{postalCode}}</p>
<p>{{birthday}}</p>
<p>{{website}}</p>
<fieldset>
<legend>Contact List</legend>

<ul>
{{#each contactList}}
<li>{{contact_name}}, {{contact_email}}</li>
{{/each}}
</ul>
</fieldset>

{{/with}}