/*radio and checkboxes*/
form.rewindJS-form {
  .checkboxLabel, .radioLabel {
    font-weight: normal;
  }

  input[type="radio"], input[type="checkbox"] {
    width: 20px;
    min-width: 0;
    box-shadow: none;
    display: inline-block;
    height: 15px;
  }
  .vertical, label.vertical {
    display: block;
  }
  .horizontal, label.horizontal {
    display: inline-block;
    padding: 0 10px 0 0;
    vertical-align: top;
  }

  /*multiselect*/
  ul.multiselect-container li.active a {
    background-color: white;
    color: #262626;
  }
  ul.multiselect-container li.active a:focus {
    background-color: #f5f5f5;
    outline: 5px auto -webkit-focus-ring-color;
  }
  /*grids*/
  .panel-body {
    overflow: visible;
  }

  .panel-body, .grid-table tr td {
    background-color: #f5f5f5;
  }
  .grid-object {
    padding: 15px;
  }
  table.grid-table {
    font-size: .9em;
  }
  table.grid-table th {
    padding: 0 5px;
    line-height: 38px;
    border-bottom: 1px solid #aaa;
  }
  table.grid-table td {
    padding: 5px;
    border-bottom: 1px solid #aaa;
  }
  h4.grid-title {
    border-bottom: 2px solid #000;
  }
  table.grid-table td {
    vertical-align: top;
  }

  /*other*/
  .panel-heading {
    background-color: #f5f5f5;
  }
  .panel-heading h3 {
    margin: 0;
    font-size: 20px;
  }
  .form-group {
    margin-bottom: 25px;
  }
  .helptext {
    font-style: italic;
    margin: 0;
    color: #434343;
  }
  .optional {
    margin-left: 5px;
    font-weight: normal;
    color: #666;
  }
  .entryField {
    position: relative;
  }
  fieldset.form-control {
    padding: 4px 24px 0 12px;
    height: auto;
  }
  select.form-control {
    height: 34px;
  }
  label.control-label {
    font-weight: bold;
  }
  /*static fields*/
  .staticlabel {
    font-weight: bold;
    display: block;
    margin: 0 0 5px 0;
  }

  /*form validation*/
  .form-control-feedback {
    top: 0;
  }
  .datetimepicker .form-control-feedback {
    margin-right: 42px;
  }
  .dropdown-entry-field .form-control-feedback {
    margin-right: 15px;
  }
  fieldset i.form-control-feedback {
    position: static;
    float: right;
    width: 0;
    height: 0;
    line-height: 26px;
    font-size: 16px;
  }
  textarea + i.form-control-feedback {
    right: 15px;
  }
  div.fv-err-msg {
    margin: 0!important;
  }

  /*telephone*/
  .intl-tel-input {
    display: block;
  }
  /*tooltips*/
  .glyphicon-info-sign {
    margin-left: 5px;
    color: #346488;
    font-size: 1.15em;
  }
  .tooltip .tooltip-inner {
    background-color: #346488;
    color: white;
  }
  .tooltip .tooltip-arrow {
    border-top-color: #346488;
  }
}
